node-red/flows.json
[
    {
        "id": "80cfc9c0eb65fe18",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6480d2b50ba7165a",
        "type": "mqtt in",
        "z": "80cfc9c0eb65fe18",
        "name": "",
        "topic": "iotfrontier/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "264aba011059062d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 300,
        "wires": [
            [
                "a9215ec8c968cdfb",
                "25dc06432d67fc9b"
            ]
        ]
    },
    {
        "id": "532f86521840b184",
        "type": "mqtt in",
        "z": "80cfc9c0eb65fe18",
        "name": "",
        "topic": "iotfrontier/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "264aba011059062d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 460,
        "wires": [
            [
                "290fcfd3906f38bb",
                "c0ab4684668b7f03"
            ]
        ]
    },
    {
        "id": "a9215ec8c968cdfb",
        "type": "debug",
        "z": "80cfc9c0eb65fe18",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 300,
        "wires": []
    },
    {
        "id": "290fcfd3906f38bb",
        "type": "debug",
        "z": "80cfc9c0eb65fe18",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 460,
        "wires": []
    },
    {
        "id": "25dc06432d67fc9b",
        "type": "ui_gauge",
        "z": "80cfc9c0eb65fe18",
        "name": "",
        "group": "80679a6d86b7ea29",
        "order": 13,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#1b00e6",
            "#3a9acb"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 380,
        "wires": []
    },
    {
        "id": "c0ab4684668b7f03",
        "type": "ui_chart",
        "z": "80cfc9c0eb65fe18",
        "name": "",
        "group": "80679a6d86b7ea29",
        "order": 14,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "0dd39963377a6822",
        "type": "mqtt in",
        "z": "80cfc9c0eb65fe18",
        "name": "",
        "topic": "iotfrontier/motion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "264aba011059062d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 640,
        "wires": [
            [
                "59786e94a91e612d",
                "9779f58f952b7eed"
            ]
        ]
    },
    {
        "id": "59786e94a91e612d",
        "type": "debug",
        "z": "80cfc9c0eb65fe18",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 640,
        "wires": []
    },
    {
        "id": "9779f58f952b7eed",
        "type": "ui_text",
        "z": "80cfc9c0eb65fe18",
        "group": "80679a6d86b7ea29",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Movimentacao de Gol",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 720,
        "wires": []
    },
    {
        "id": "668c2c23bbf7f4a0",
        "type": "ui_spacer",
        "z": "80cfc9c0eb65fe18",
        "name": "spacer",
        "group": "80679a6d86b7ea29",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "928c9c7cdb69251f",
        "type": "ui_spacer",
        "z": "80cfc9c0eb65fe18",
        "name": "spacer",
        "group": "80679a6d86b7ea29",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "fa39e5966ae72343",
        "type": "ui_spacer",
        "z": "80cfc9c0eb65fe18",
        "name": "spacer",
        "group": "80679a6d86b7ea29",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "5b014374037ca548",
        "type": "ui_spacer",
        "z": "80cfc9c0eb65fe18",
        "name": "spacer",
        "group": "80679a6d86b7ea29",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "945b5715de0e9088",
        "type": "ui_spacer",
        "z": "80cfc9c0eb65fe18",
        "name": "spacer",
        "group": "80679a6d86b7ea29",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "83a97f458b1e5821",
        "type": "ui_spacer",
        "z": "80cfc9c0eb65fe18",
        "name": "spacer",
        "group": "80679a6d86b7ea29",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "59328ffc6b686f81",
        "type": "ui_spacer",
        "z": "80cfc9c0eb65fe18",
        "name": "spacer",
        "group": "80679a6d86b7ea29",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "75509404834fd19c",
        "type": "ui_spacer",
        "z": "80cfc9c0eb65fe18",
        "name": "spacer",
        "group": "80679a6d86b7ea29",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "c0d8169ebf7b2c80",
        "type": "ui_spacer",
        "z": "80cfc9c0eb65fe18",
        "name": "spacer",
        "group": "80679a6d86b7ea29",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "9d43ebd5e029901c",
        "type": "ui_spacer",
        "z": "80cfc9c0eb65fe18",
        "name": "spacer",
        "group": "80679a6d86b7ea29",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "c88a894152319547",
        "type": "ui_spacer",
        "z": "80cfc9c0eb65fe18",
        "name": "spacer",
        "group": "80679a6d86b7ea29",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "bb9fe27d37c433f4",
        "type": "ui_spacer",
        "z": "80cfc9c0eb65fe18",
        "name": "spacer",
        "group": "80679a6d86b7ea29",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "b533478040ab5d12",
        "type": "ui_spacer",
        "z": "80cfc9c0eb65fe18",
        "name": "spacer",
        "group": "80679a6d86b7ea29",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "264aba011059062d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "15",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "80679a6d86b7ea29",
        "type": "ui_group",
        "name": "Temperature nd Humidity",
        "tab": "e212f81b6fcb8f67",
        "order": 1,
        "disp": true,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e212f81b6fcb8f67",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "9792696a51fef3bb",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]